<h2>パスワードリセットのご案内</h2>

<p>こんにちは、<%= @user.name %>さん</p>

<p>パスワードリセットのリクエストを受け付けました。</p>

<p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>

<p>
  <%= link_to 'パスワードをリセットする', @url, class: 'button' %>
</p>

<p>このリンクは24時間有効です。</p>

<p>もしパスワードリセットをリクエストしていない場合は、このメールを無視してください。パスワードは変更されません。</p>

<p>上記のリンクがクリックできない場合は、以下のURLをブラウザのアドレスバーにコピーしてアクセスしてください：</p>
<p><%= @url %></p>

