<div class="row">
  <div class="col-lg-10 mx-auto">
    <%= render 'communities/header' %>

    <% if @communities.blank? %>
      <%= render 'communities/index/empty_state' %>
    <% else %>
      <div class="row g-4">
        <%= render partial: 'communities/index/community_card', collection: @communities, as: :community %>
      </div>

      <% if @communities.total_pages > 1 %>
        <div class="mt-4">
          <%= paginate @communities, theme: 'bootstrap4' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>