<div class="mb-3">
  <%= link_to communities_path, class: "text-decoration-none" do %>
    <i class="bi bi-arrow-left"></i> コミュニティ一覧に戻る
  <% end %>
</div>

<h1 class="h2 mb-4">
  <i class="bi bi-trophy text-warning"></i> コミュニティランキング
</h1>
